/* Theme Variables */
:root {
  /* Background Colors */
  --background-color: #e8e8e8;
  --background-color-2: #c0c0c0;
  --container-color: white;
  --border-color: #333;

  /* Text Colors */
  --header-text-color: #333333;
  --text-color: #616161;
  --text-color-2: black;

  /* Button Colors */
  --button-color: #007bff;
  --button-hover-color: #0056b3;
  --button-color-2: #28a745;
  --button-hover-color-2: #218838;

  /* --button-delete-background-color: #dc3545;
  --button-delete-hover-background-color: #c82333; */
}

/* Dark Theme Overrides */
body.dark-theme {
  --background-color: #333;
  --background-color-2: #222;
  --container-color: #1e1e1e;
  --border-color: #bebebe;

  --header-text-color: #e0e0e0; /* Light text color for dark background */
  --text-color: #e0e0e0; /* Light text color for dark background */
  --text-color-2: white;

  --button-color: #66a3cc; /* Brighter dark blue color for text */
  --button-hover-color: #336699; /* Brighter dark blue color for button background */
  --button-color-2: #03dac6;
  --button-hover-color-2: #018786;

  /* --button-delete-color: #cf6679;
  --button-delete-hover-color: #b00020; */

  /* Dark Overlay for Login/Signup Background */
  .form-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Opacity to darken */
    z-index: 0;
  }
}
