.add-entry {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry-container {
  width: 100%;
  max-width: 80rem; /* Adjust the max-width as needed */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3vh;
  margin-bottom: 1vh;
  text-align: center;
}

.entry-form {
  display: flex;
  flex-direction: column;
  grid-gap: 1vh;
  padding: 2vh;
}

.photo-inputs {
  display: flex;
  align-items: center;
  gap: 1rem; /* Adjust the gap between inputs */
  margin-top: 2vh;
}

.photo-inputs {
  display: flex;
  align-items: center;
}

.photo-inputs input[type="text"] {
  flex: 1; /* Grow to fill available space */
  max-width: 100%; /* Set a maximum width for the file input */
}

.photo-inputs label {
  display: inline-block; /* Ensure labels stay on one line */
  white-space: nowrap; /* Prevent label text from wrapping */
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 1vh;
  border-radius: 1vh;
  border: 1px solid #ccc;
  box-sizing: border-box;
  justify-self: center; /* Center the form fields horizontally */
  resize: none; /* Disable textarea resizing */
}

.upload-label {
  font-weight: normal;
  padding: 1vh;
  background-color: #007bff;
  color: black;
  border-radius: 1vh;
  cursor: pointer;
}

.upload-input {
  display: none;
} /* Hide upload input (upload files button)*/

.submit-button {
  background-color: #007bff;
  font-size: 2.5vh;
  width: 100%;
  border: none;
  padding: 1.5vh;
  border-radius: 1vh;
  margin-top: 2vh;
  cursor: pointer;
  justify-self: center; /* Center the button horizontally */
}

.submit-button:hover {
  background-color: #0056b3;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem; /* Adjust the width as needed */
  height: 2rem; /* Adjust the height as needed */
  background-color: #007bff; /* Adjust the background color */
  border-radius: 50%; /* Makes the link circular */
  margin-right: 1rem; /* Adjust margin as needed */
}

.icon-link:hover {
  background-color: #0056b3; /* Adjust hover color */
}

.size-6 back {
  width: 100%;
  height: 100%;
}
