/* Css for Login/Signup */
.form-wrapper {
  background-image: url("./src/assets/wood_bg.png");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the background image covers the entire container */
  min-height: 100vh; /* Makes sure the container covers the full viewport height */
}

.form-container-login {
  font-size: 3vh;
  color: white;
  max-width: 100vh;
  margin: auto;
  padding: 2vh;
  border-radius: 1vh;
  background-color: transparent;
  -ms-transform: translateY(70%);
  transform: translateY(70%);
}

.form-container-signup {
  font-size: 3vh;
  color: white;
  max-width: 100vh;
  margin: auto;
  padding: 2vh;
  border-radius: 1vh;
  background-color: transparent;
  -ms-transform: translateY(60%);
  transform: translateY(60%);
}

.form-title {
  display: flex;
  justify-content: center;
  padding: 1vh;
  margin-bottom: 1vh;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.form-fields label {
  margin-bottom: 1vh;
}

.form-fields input[type="text"],
.form-fields input[type="email"],
.form-fields input[type="password"] {
  padding: 1.5vh;
  margin-bottom: 2vh;
  border: 0.2vh solid #ccc;
  border-radius: 2vh;
  box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
}

.form-fields button {
  font-size: 2.5vh;
  padding: 1.5vh;
  border: none;
  border-radius: 2vh;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.form-fields button:hover {
  background-color: #0056b3;
}

.options-container {
  font-size: 2vh;
  display: flex;
  justify-content: center;
  padding: 1vh;
  gap: 0.5vh;
}
