.journal {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 10vh; /* Add padding equal to the height of the header */
  animation: slideIn 0.8s ease-in-out;
}

.journal-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.journal div {
  width: 100%;
  max-width: 800px;
}

.journal h2 {
  margin-bottom: 20px;
  color: var(--header-text-color);
  text-align: center;
}

.journal a {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  color: var(--container-color);
  background-color: var(--button-color);
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.journal a:hover {
  background-color: var(--button-hover-color);
}

.user-entries ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.user-entries li {
  background: var(--container-color);
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.user-entries li:hover {
  transform: scale(1.02);
}

.user-entries h3 {
  margin: 0 0 10px;
  color: var(--header-text-color);
  font-weight: 500;
}

.user-entries p {
  margin: 0 0 10px;
  color: var(--text-color);
}

.user-entries button {
  background: var(--button-color-2);
  color: var(--container-color);
  display: inline-block;
  font-weight: 500;
  width: calc(50% - 50px);
  margin: 0 25px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-entries button:hover {
  background-color: var(--button-hover-color-2);
}

.user-entries button:nth-child(2) {
  background-color: #dc3545;
}

.user-entries button:nth-child(2):hover {
  background-color: #c82333;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  animation: fadeIn 0.5s ease-in-out;
}

.modal-background div {
  background: var(--container-color);
  color: var(--header-text-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.modal-background .delete-confirmation {
  max-width: 300px;
}

.modal-background h3,
.modal-background p {
  margin-bottom: 20px;
}

.modal-background label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 600;
}

.modal-background input,
.modal-background textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-background button {
  background: var(--button-color-2);
  color: var(--container-color);
  margin: 10px 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-background button:hover {
  background-color: var(--button-hover-color-2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
